apiVersion: v1
kind: Service
metadata:
  name: price-service
spec:
  clusterIP: None
  selector:
    app: price-service
  ports:
    - protocol: TCP
      port: 8090
      targetPort: 8090
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: price-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: price-service
  template:
    metadata:
      labels:
        app: price-service
    spec:
      containers:
      - name: price-service
        image: diegoraar/price-service:latest
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: price-config
        - secretRef:
            name: price-secret
        resources:
          requests:
            memory: "256Mi"
            cpu: "50m"
          limits:
            memory: "512Mi"
            cpu: "200m"
