apiVersion: v1
kind: Service
metadata:
  name: loan-service
spec:
  clusterIP: None
  selector:
    app: loan-service
  ports:
    - protocol: TCP
      port: 8090
      targetPort: 8090
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loan-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loan-service
  template:
    metadata:
      labels:
        app: loan-service
    spec:
      containers:
      - name: loan-service
        image: diegoraar/loan-service:latest
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: loan-config
        - secretRef:
            name: loan-secret
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "200m"