server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          default-label: main
          uri: https://github.com/DiegoRaAr/data-config-tingeso
          search-paths: config-data
  application:
    name: config-service